<%- include('partials/head') %> 

<form id="form">
    <h2>Sign Up</h2>
    <!-- Email -->
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
    <div class="email error"></div>
    <!-- Password -->
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <div class="password error"></div>
    <!-- Buttons -->
    <div class="buttons">
        <button type="submit" class="btn">Sign Up</button>
    </div>
    <div class="bottom-form">
        <small>Already have an account?</small>
        <a class="link" href="login">Login</a>
    </div>
</form>

<script>
    const form = document.querySelector('#form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', submitForm);

    async function submitForm(e) {
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get the values from the form
        const email = form.email.value;
        const password = form.password.value;

        const headers = { 'Content-type': 'application/json' };

        const opt = {
            method: 'post',
            body: JSON.stringify({ email, password }),
            headers: headers
        };

        try {
            
            const res = await fetch('signup', opt);
            const data = await res.json();
            
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }

            if (data.user) {
                document.location.href = '/'; 
            }

        } catch (err) {
            console.error(err);
        }
    }
</script>

<%- include('partials/footer') %>